* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html {
  background: #cfbfaf;
  color: #333;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 45em;
  height: 25em;
}

/* ------ navbar ------- */
nav {
  background: #bfaf9f;
  padding: 20px 20px 30px 30px;
  top: 0;
}

li {
  display: inline;
}

.navbar {
  list-style-type: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
  padding: 0.5em;
}

.nav-links ul li a:hover {
  text-decoration: underline;
}

/* ------ footer ------ */
footer {
  background: #bfaf9f;
  padding: 20px 20px 30px 30px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.social-media-logo {
  width: 1rem;
  height: 1rem;
}

.info-footer {
  display: flex;
  flex-direction: column;
  color: #333;
  font-size: 0.5rem;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
  padding: 0.5em;
}

/* ------ home page ------ */
.portfolio-title {
  margin-top: -30%;
  color: snow;
  font-weight: 900;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 450px;
  padding-top: 50px;
}

/* ------ about page ------ */
.container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20em;
  flex-wrap: wrap;
}

#me {
  width: 20em;
  height: 20em;
}

.about-text {
  padding-left: 3em;
  width: 30em;
  line-height: 1.5em;
  font-size: 0.6rem;
}

/* ------ contact page ------ */

.contact {
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

label {
  font-size: 0.6rem;
  padding-bottom: 10px;
}

.info {
  font-size: 0.6rem;
}
.head-con {
  font-size: 1rem;
}

.sm {
  width: 1rem;
  height: 1rem;
}

.input {
  display: grid;
  grid-row: 1fr 1fr 1fr;
  padding: 10px 10px;
}

#fname {
  width: 500px;
  height: 40px;
}

#email {
  width: 500px;
  height: 40px;
}

#message {
  width: 500px;
  height: 100px;
}

.input button {
  background: #333;
  color: snow;
  padding: 10px 20px 10px 20px;
}

/*------ Projects ------*/

.project {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-alt {
  background: snow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-alt img {
  max-width: 10rem;
  height: 10rem;
  padding-top: 10px;
}

figcaption {
  padding: 10px;
}

/* The following 26 lines of code was adapted from https://www.w3schools.com/css/css3_animations.asp Accessed: 2023-11-23 */
#mulan {
  animation-name: red;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes red {
  0% {
    background-color: snow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  25% {
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.5),
      0 6px 20px 0 rgba(255, 0, 0, 0.3);
  }
  50% {
    background-color: snow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  100% {
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.5),
      0 6px 20px 0 rgba(255, 0, 0, 0.3);
  }
}

/*------ Detail page ------*/
.detail {
  padding-left: 50px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-header {
  font-size: 2rem;
}

.project-info p {
  font-size: 0.6rem;
}

.project-img img {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 12rem;
  height: 16rem;
  /* The following 15 lines of code was adapted from https://blog.hubspot.com/website/css-fade-in Accessed: 2023-11-23 */
  animation-name: fadein;
  animation-duration: 10s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/*------ Media Queries ------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 320px) {
  /* Header */
  .nav-links ul li a {
    font-size: 0.45rem;
    padding: 0.5em;
  }

  /* Footer */
  .social-media-logo {
    width: 0.7rem;
    height: 0.7rem;
  }

  .info-footer {
    font-size: 0.5rem;
  }

  .footer-links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.5rem;
    padding: 0.5rem;
  }

  /* Home page */
  .portfolio-title {
    font-size: 2rem;
    margin-top: -60%;
  }

  /* About page */
  .about-text {
    padding-top: 50px;
    font-size: 0.4rem;
    max-width: 10rem;
  }

  #me {
    width: 10rem;
    height: 10rem;
  }

  .container {
    padding-bottom: 1000px;
  }

  /* Contact Page */
  .form {
    padding-top: 100px;
  }
  .info {
    padding-top: 100px;
  }

  /* Project page */
  .project {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .project-alt img {
    width: 4rem;
    height: 4rem;
  }

  figcaption {
    font-size: 0.5rem;
  }

  /* Detail page */
  .detail {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .project-info p {
    font-size: 0.5rem;
  }

  .project-img img {
    padding-top: 10px;
    width: 7.5rem;
    height: 10rem;
  }

  .project-header {
    font-size: 1rem;
    padding-bottom: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
  /* Header */
  .nav-links ul li a {
    font-size: 0.8rem;
    padding: 0.8em;
  }

  /* Footer */
  .social-media-logo {
    width: 1rem;
    height: 1rem;
  }

  /* Home Page */
  .portfolio-title {
    font-size: 3rem;
    margin-top: -45%;
  }

  /* About Page */
  .about-text {
    padding-top: 50px;
    font-size: 0.6rem;
    max-width: 16rem;
  }

  #me {
    width: 12rem;
    height: 12rem;
  }

  /* Project page */
  .project {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
  }

  .project-alt {
    max-width: 7.5rem;
  }

  .project-alt img {
    width: 6rem;
    height: 6rem;
  }

  figcaption {
    font-size: 0.6rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .portfolio-title {
    color: snow;
    font-size: 4rem;
    margin-top: -30%;
  }

  .project {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-alt {
    background: snow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 12rem;
  }

  .project-alt img {
    width: 10rem;
    height: 10rem;
    padding-top: 10px;
  }

  .project-alt-p {
    padding: 10px;
  }

  .contact {
    padding-bottom: 750px;
  }

  figcaption {
    font-size: 0.8rem;
  }

  .container {
    padding-bottom: 700px;
  }

  #me {
    width: 20rem;
    height: 20rem;
  }

  /* Detail page */
  .project-info p {
    font-size: 1rem;
  }

  .project-img img {
    width: 12rem;
    height: 16rem;
    justify-content: center;
  }

  .project-header {
    font-size: 2rem;
    padding-bottom: 5px;
  }

  .detail {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
